:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  min-height: 100%;
}

.sample {
  height: 40vh;
  width: auto;
}

.header {
  background-color: #2e2e2e;
}